---
const today = new Date();
---

<footer class="flex flex-row justify-between text-xs my-16">
	&copy; {today.getFullYear()} Juan Aguenza
	<div>
		<a href="https://github.com/juanaguenza" target="_blank">Github
		</a>
		<a href="https://linkedin.com/in/juanaguenza" target="_blank">LinkedIn
		</a>
	</div>
</footer>
